body {
  background: #1c1c1c;
  color: #dfdfdf;
  /* stolen system font stack, for kicks */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
  max-width: 1024px; /* rather aesthetically pleasing, i might add! */
  margin: auto;
}
.panel {
  border: 1px solid #3c3c3c;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px #4c4c4c,
              inset -1px -1px #0c0c0c;
}

.login_panel {
  max-width: 600px;
  margin: auto;
}
input[type="text"], input[type="password"], textarea {
  color: #ececec;
  background: #3c3c3c;
  border: 1px solid #3c3c3c;
  margin: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 1px 1px #1c1c1c, inset -1px -1px #4c4c4c;
  padding: 3px;
}
.abtn {
  text-decoration: none;
}
input[type="submit"], .abtn {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: #3c3c3c;
  color: inherit;
  border: 1px solid #5c5c5c;
  box-shadow: inset 1px 1px #4c4c4c, inset -1px -1px #2c2c2c;
  padding: 1px 8px 1px 8px;
  margin: 3px;
}
input[type="submit"]:active, .abtn:active {
  background: #2c2c2c;
  color: transparent;
  text-shadow: 1px 1px white;
  border: 1px solid #5c5c5c;
  box-shadow: inset -1px -1px #4c4c4c;
}
.buttons {
  border-top: 1px solid #000;
  text-align: center;
  box-shadow: inset -0px 1px #3c3c3c;
  padding-top: 12px;
}
.action_panel {
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.action_panel:nth-of-type(4) { text-align: right; }
.error { 
  background: maroon;
  color: white;
  border: 1px solid red;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}
table tr td { margin: 0px; padding: 8px; }
.boardlist li { margin: 0px; list-style: none; padding: 0px; }
.boardlist h3 { margin: 0px; font-size: xxlarge; border-bottom: 1px solid transparent; }
.boardlist a { text-decoration: none; color: inherit; }
.boardlist a:hover { text-decoration: underline; border-bottom: 1px dotted white; }
.subbtn {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  width: 24px;
  height: 24px;
  color: white;
  background: inherit;
  border: 1px solid #5c5c5c;
  background: #4c4c4c;
  text-decoration: none !important;
  margin: auto;
  box-shadow: inset 1px 1px #4c4c4c, inset -1px -1px #2c2c2c;
  line-height: 24px;
}
.extra-room {
  margin-bottom: 4px;
}
.subbtn:active, .subbtn.remove {
  box-shadow: inset -1px -1px #4c4c4c, inset 1px 1px #2c2c2c;
  text-shadow: 1px 1px lime, 1px 1px 8px lime;
  color: transparent;
}
.subbtn.remove:active {
  text-shadow: 1px 1px red, 1px 1px 8px red;
}
.board a { color: inherit; text-decoration: none; margin: none; }
.board a:hover { text-decoration: underline; text-decoration-style: dotted; }
.board { padding-top: 8px; }
.mods { color: #aaff33; }
h1 { margin-top: 24px; }
h2, h3, h4, p { margin: 0px; }
hr { border-left: none; border-right: none; border-top: 1px solid #000; border-bottom: 1px solid #4c4c4c; }
p { color: #8c8c8c; padding-bottom: 4px; }
tr:nth-child(odd) { background: #2d2d2d; }
.red { color: #cc4433; background: #2c2c2c; box-shadow: inset -1px -1px #4c4c4c, inset 1px 1px #2c2c2c; }
td { vertical-align: top; }
td .buttons { padding: 4px; text-align: right; }
td .buttons input[type=submit] {
  color: #aaff33;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid green;
}
textarea.entry {
  display: block;
  width: 99.5%;
  margin: auto;
  margin-bottom: 4px;
  height: 100px;
  resize: none;
}
td h3 a { color: #aaff33; text-decoration: none; font-weight: 300; }
td h3 a:hover { text-decoration: underline; text-decoration-style: dotted; }
