<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Morsel</title>
    <link rel="stylesheet" href="/static/morsel.css" />
    <link rel="stylesheet" href="/static/theme.css" />
  </head>
  <body>
    <h1>Welcome to Morsel</h1>
    <div class="panel">
      <h4>Morsel</h4>
      <p>
        ... is a microblogging server similar to Twitter, Mastodon, and Akkoma, but with
        no federation, and a simple board-based feed system.
      </p>
      <p>
        ... is lightweight, simple to set up, and easy on the eyes.
      </p>
      <p>
        ... is fairly easy to use, customizable, and user-friendly.
      </p>
      <div class="buttons">
        <a class="abtn" href="/login">Log into Morsel</a>
        <a class="abtn" href="/login">Create an Account</a>
      </div>
    </div>
  </body>
</html>
