<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Morsel</title>
    <link rel="stylesheet" href="/static/morsel.css" />
    <link rel="stylesheet" href="/static/theme.css" />
  </head>
  <body>
    <h1>Welcome to Morsel</h1>
    <div class="panel">
      <p>
        The requested board does not exist.
      </p>
      <div class="buttons">
        <a class="abtn" href="/b/">Return to Board Index</a>
        <a class="abtn" href="/bcreate/{{ bname }}">Create Board</a>
      </div>
    </div>
  </body>
</html>
